# Java
*.class

# Eclipse
.classpath
.project
.settings/

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle

# Build
build/
bin/
out

# Other
*.log
*.swp
*.bak

# for Markdown Preview
.*.md.html

# for this project
temp/
.factorypath
.springBeans
