<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>選手追加 | Spring Boot Template</title>
  <!-- そのままブラウザで見た時は href が使われ、 thymeleaf 経由だと th:href が使われます. -->
  <!-- th:href では、@{}でコンテクスト相対パスを絶対パスに置換しています. -->
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
    th:href="@{/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css"
    href="../../static/css/style.css"
    th:href="@{/css/style.css}">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="#">Spring Boot Template</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
<!--
  <p>
    <span sec:authentication="principal.user.username">duke</span>さんログイン中
    <a th:href="@{/logout}">ログアウト</a>
  </p>
 -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">
    <h2>選手追加</h2>
    <!-- th:object="${playerForm}" で、playerForm を指定しておくと、子要素の中で playerForm.xxx と書かずに済みます -->
    <form th:action="@{/players/create}" th:object="${playerForm}" method="post">
      <!-- th:field="*{squadNumber}" で、playerForm のプロパティとバインディングしています -->
      <fieldset class="form-group"
        th:classappend="${#fields.hasErrors('squadNumber')}? 'has-danger'">
        <label for="squadNumber" class="form-control-label">背番号</label>
        <input type="text" class="form-control"
          id="squadNumber"
          name="squadNumber"
          th:field="*{squadNumber}"
          th:classappend="${#fields.hasErrors('squadNumber')}? 'form-control-danger'">
        <small class="text-danger"
          th:if="${#fields.hasErrors('squadNumber')}"
          th:errors="*{squadNumber}">error occurred !!</small>
      </fieldset>
      <fieldset class="form-group"
        th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
        <label for="name" class="form-control-label">名前</label>
        <input type="text" class="form-control"
          id="name"
          name="name"
          th:field="*{name}"
          th:classappend="${#fields.hasErrors('name')}? 'form-control-danger'">
        <small class="text-danger"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">error occurred !!</small>
      </fieldset>
      <fieldset class="form-group"
        th:classappend="${#fields.hasErrors('nationalityId')}? 'has-danger'">
        <label for="nationalityId" class="form-control-label">国籍</label>
        <select class="form-control"
          th:field="*{nationalityId}">
          <option
            th:each="nationality : ${nationalities}"
            th:value="${nationality.id}"
            th:text="${nationality.name}"
            th:classappend="${#fields.hasErrors('nationalityId')}? 'form-control-danger'">ドイツ</option>
        </select>
        <small class="text-danger"
          th:if="${#fields.hasErrors('nationalityId')}"
          th:errors="*{nationalityId}">error occurred !!</small>
      </fieldset>
      <fieldset class="form-group"
        th:classappend="${#fields.hasErrors('positionCode')}? 'has-danger'">
        <label for="positionCode" class="form-control-label">ポジション</label>
        <select class="form-control"
          th:field="*{positionCode}">
          <option
            th:each="code : ${positionClasses}"
            th:value="${code.id}"
            th:text="${code.name}"
            th:classappend="${#fields.hasErrors('positionCode')}? 'form-control-danger'">FW</option>
        </select>
        <small class="text-danger"
          th:if="${#fields.hasErrors('positionCode')}"
          th:errors="*{positionCode}">error occurred !!</small>
      </fieldset>
      <a th:href="@{/players}" class="btn btn-secondary">戻る</a>
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
  </div>

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
  <script
    src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"
    th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}"></script>
</body>
</html>