<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">
<head>
  <title>選手追加</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <h2>選手追加</h2>
    <form th:action="@{/players/create}" th:object="${playerForm}" method="post">
      <!-- フォーム入力部 -->
      <div th:replace="players/fragments::formContents(false)"></div>
      <!-- フォーム操作部 -->
      <a th:href="@{/players}" class="btn btn-secondary">戻る</a>
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
  </div><!-- /.container -->
</body>
</html>