<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">
<head>
  <title>選手一覧</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <h2>選手一覧</h2>
    <!-- メッセージ部 -->
    <div class="alert alert-info" role="alert" th:if="${info}">
      <span th:text="${info}">info!</span>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${error}">
      <span th:text="${error}">error!</span>
    </div>
    <!-- 操作部 -->
    <div class="card">
      <div class="card-block bg-faded">
        <div class="row">
          <div class="input-group col-xs-5">
            <input type="text" class="form-control" placeholder="選手の名前を入力してください。">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">検索</button>
            </span>
          </div>
          <div class="col-xs-2">
            <a th:href="@{/players/add}" class="btn btn-primary">選手追加</a>
          </div>
        </div><!-- /.row -->
      </div><!-- /.card-block -->
    </div><!-- /.card -->
    <!-- 一覧部 -->
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th th:switch="${page.sort.getOrderFor('squadNumber').ascending}">
              <a th:case="true" th:href="@{/players(sort='squadNumber,desc')}">背番号 <i class="fa fa-caret-down"></i></a>
              <a th:case="*"    th:href="@{/players(sort='squadNumber,asc')}">背番号 <i class="fa fa-caret-up"></i></a>
            </th>
            <th>名前</th>
            <th>国籍</th>
            <th>ポジション</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="player : ${page}">
            <td th:text="${player.squadNumber}">10</td>
            <td th:text="${player.name}">山田太郎</td>
            <td th:text="${player.nationality.name}">トリニダード・トバゴ</td>
            <td th:text="${player.positionCodeName}">ゴールキーパー</td>
            <td>
              <form th:action="@{/players/{id}/destroy(id=${player.id})}" method="post">
                <a class="btn btn-primary" th:href="@{/players/{id}/edit(id=${player.id})}">編集</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#destroyConfirmModal" th:attr="data-id=${player.id}">削除</a>
                <button type="submit" th:id="${'destroySubmit_' + player.id}" class="hidden-xs-up">削除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
    <!-- ページング部 -->
    <div class="pull-left">
      <div th:replace="shared/fragments::pagenation-info"></div>
    </div>
    <div class="pull-right">
      <nav th:replace="shared/fragments::pagenation(path='/players')"></nav>
    </div>
    <!-- 削除確認ダイアログ -->
    <div th:replace="shared/fragments::confirm-modal(id='destroyConfirmModal', label='削除')"></div>
  </div><!-- /.container -->
  <!-- 追加スクリプト -->
  <div layout:fragment="additionalScripts">
    <script
      src="../../static/players.js"
      th:src="@{/js/players.js}"></script>
  </div>
</body>
</html>