<!DOCTYPE html>
<!--
  【解説】
  layout:decorator で 利用する layout を指定しています.
  拡張子なしのファイル名を指定することで layout の切り替えが可能です.
-->
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">
<head>
  <!-- 【解説】 <title> の要素は、 layout.html 側の $CONTENT_TITLE で利用されます. -->
  <title>選手一覧</title>
</head>
<body>
  <!--
    【解説】
    layout ファイルの <div layout:fragment="content">...</div> の部分が、
    下記の layout:fragment="content" の中身に置き換わります.
  -->
  <div layout:fragment="content" class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
          <div class="card-header">ログイン</div>
          <div class="card-block">
            <div class="card-text">
              <form th:action="@{/authenticate}" method="post">
                <!-- 【解説】SecurityConfig でエラーがあるときは loginForm?error=true に遷移するよう設定しているので、エラー時に下記 div が表示される -->
                <div class="alert alert-danger" role="alert" th:if="${param.error}">
                  ユーザー名またはパスワードが正しくありません。
                </div>
                <!-- フォーム部 -->
                <fieldset class="form-group">
                  <label for="username">ユーザー名</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="ユーザー名を入力してください。" autofocus="autofocus">
                </fieldset>
                <fieldset class="form-group">
                  <label for="password">パスワード</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力してください。" >
                </fieldset>
                <!-- フォーム操作部 -->
                <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                <csrf>
              </form>
            </div><!-- /.card-text -->
          </div><!-- /.card-block -->
        </div><!-- /.card -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

</body>
</html>