<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">
<head>
  <title>ログイン</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
          <div class="card-header">ログイン</div>
          <div class="card-block">
            <div class="card-text">
              <form th:action="@{/authenticate}" method="post">
                <!-- メッセージ部 -->
                <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{error.login.invalid}">error!</div>
                <!-- フォーム入力部 -->
                <fieldset class="form-group">
                  <label for="username">ユーザー名</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="ユーザー名を入力してください。" autofocus="autofocus">
                </fieldset>
                <fieldset class="form-group">
                  <label for="password">パスワード</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力してください。" >
                </fieldset>
                <!-- フォーム操作部 -->
                <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                <csrf>
              </form>
            </div><!-- /.card-text -->
          </div><!-- /.card-block -->
        </div><!-- /.card -->
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</body>
</html>