<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">
<head>
  <title>エラー</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <h2>エラー</h2>
    <!-- メッセージ部 -->
    <div class="alert alert-danger" role="alert" th:if="${status}">
      <span th:switch="${status}">
        <span th:case="404" th:text="#{error.errorpage.notfound}">error!</span>
        <span th:case="*"   th:text="#{error.errorpage.fatal}">error!</span>
      </span>
      <a th:href="@{/players}">ホーム</a>に戻ってやり直してください。
    </div><!-- /.alert -->
  </div><!-- /.container -->
</body>
</html>
