<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>※共通部品 | Spring Boot Template</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!--
  ==================================================
  fragments of "header"
  ================================================== -->
  <nav class="navbar navbar-fixed-top navbar-light bg-faded" th:fragment="header">
    <div class="container">
      <a class="navbar-brand" href="#">Spring Boot Template</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <span sec:authentication="principal.user.username">ユーザー名</span>さん -->
            <i class="fa fa-user"></i> <span>ユーザー名</span> さん
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <!-- <a th:href="@{/logout}">ログアウト</a> -->
            <a class="dropdown-item" href="#">ログアウト</a>
          </div>
        </li>
      </ul>
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">

    <!--
    ==================================================
    fragments of "paginationInfo"
    ================================================== -->
    <div class="pagination-info" th:fragment="paginationInfo">
      <span th:text="${(page.number * page.size) + 1}">1</span>
      <span> - </span>
      <span th:text="${page.isLast() ? (page.totalElements) : ((page.number + 1) * page.size)}">5</span>
      <span> / </span>
      全 <span th:text="${page.totalElements}">1,234</span> 件
    </div>

    <!--
    ==================================================
    fragments of "pagenation"
    @param path ページングさせる一覧画面のパス. `/players` のように指定します.
    ================================================== -->
    <nav th:fragment="pagenation(path)">
      <!--
      以下の要素を使ってページングの分岐を行っています.
      コメントアウトを外すことで、これらの値の設定値を確認することができます.
      <ul>
        <li>Page が持つ値</li>
        <li>全ページ数<span th:text="${page.totalPages}">?</span></li>
        <li>全データ数<span th:text="${page.totalElements}">?</span></li>
        <li>Slice (Page の親) が持つ値</li>
        <li>1ページあたりのデータ数:<span th:text="${page.size}">?</span></li>
        <li>現在のページ:<span th:text="${page.number}">?</span></li>
        <li>最初のページか？<span th:text="${page.isFirst()}">?</span></li>
        <li>最後のページか？<span th:text="${page.isLast()}">?</span></li>
        <li>前ページはあるか？<span th:text="${page.hasPrevious()}">?</span></li>
        <li>次ページはあるか？<span th:text="${page.hasNext()}">?</span></li>
      </ul>
      -->
      <ul class="pagination">
        <li class="page-item" th:classappend="${page.number + 0 <= 0}? 'disabled'">
          <a class="page-link" aria-label="Previous"
            th:href="@{${path}(page=${page.number - 1},size=${page.size},sort=${param.sort})}"
            th:if="${page.number + 0 > 0}">
            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <span class="page-link" aria-hidden="true"
            th:if="${page.number + 0 <= 0}">
            <i class="fa fa-angle-left"></i>
          </span>
        </li>
        <li class="page-item" th:if="${page.number - 2 > 0}">
          <a class="page-link" th:href="@{${path}(page=0,size=${page.size},sort=${param.sort})}">1</a>
        </li>
        <li class="page-item disabled" th:if="${page.number - 3 > 0}">
          <span class="page-link"><i class="fa fa-ellipsis-h"></i></span>
        </li>
        <li class="page-item" th:if="${page.number - 1 > 0}">
          <a class="page-link" th:href="@{${path}(page=${page.number - 2},size=${page.size},sort=${param.sort})}" th:text="${page.number - 1}">3</a>
        </li>
        <li class="page-item" th:if="${page.number + 0 > 0}">
          <a class="page-link" th:href="@{${path}(page=${page.number - 1},size=${page.size},sort=${param.sort})}" th:text="${page.number + 0}">4</a>
        </li>
        <li class="page-item active">
          <span class="page-link" th:text="${page.number + 1}">5 <span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item" th:if="${page.number + 1 < page.totalPages}">
          <a class="page-link" th:href="@{${path}(page=${page.number + 1},size=${page.size},sort=${param.sort})}" th:text="${page.number + 2}">6</a>
        </li>
        <li class="page-item" th:if="${page.number + 2 < page.totalPages}">
          <a class="page-link" th:href="@{${path}(page=${page.number + 2},size=${page.size},sort=${param.sort})}" th:text="${page.number + 3}">7</a>
        </li>
        <li class="page-item disabled" th:if="${page.number + 4 < page.totalPages}">
          <span class="page-link"><i class="fa fa-ellipsis-h"></i></span>
        </li>
        <li class="page-item" th:if="${page.number + 3 < page.totalPages}">
          <a class="page-link" th:href="@{${path}(page=${page.totalPages - 1},size=${page.size},sort=${param.sort})}" th:text="${page.totalPages}">10</a>
        </li>
        <li class="page-item" th:classappend="${page.number + 1 >= page.totalPages}? 'disabled'">
          <a class="page-link" aria-label="Next"
            th:href="@{${path}(page=${page.number + 1},size=${page.size},sort=${param.sort})}"
            th:if="${page.number + 1 < page.totalPages}">
            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
          <span class="page-link" aria-hidden="true"
            th:if="${page.number + 1 >= page.totalPages}">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
      </ul>
    </nav>

    <!--
    ==================================================
    fragments of "confirmModal"
    @param id 当該モーダルの id. aria-labelledby や submit ボタンの id にも使われます.
    @param label 確認文言、ボタン名称に使うラベル.
    ================================================== -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
      th:id="${id}"
      th:attr="aria-labelledby=${id + 'Label'}"
      th:fragment="confirmModal(id, label)">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p><span th:text="${label}">更新</span>します。よろしいですか？</p>
          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-danger"
              th:id="${id + 'SubmitTrigger'}"
              th:text="${label}">更新</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div><!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>