<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ホゲ一覧</title>
  <!-- そのままブラウザで見た時は href が使われ、 thymeleaf 経由だと th:href が使われます. -->
  <!-- th:href では、@{}でコンテクスト相対パスを絶対パスに置換しています. -->
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
    th:href="@{/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css}">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css"
    href="../../static/css/style.css"
    th:href="@{/css/style.css}">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="#">Spring Boot Template</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
<!--
  <p>
    <span sec:authentication="principal.user.username">duke</span>さんログイン中.
    <a th:href="@{/logout}">ログアウト</a>
  </p>
 -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">

    <h2>ホゲ一覧</h2>

    <div class="container m-b-1">
      <!-- @{}でコンテクスト相対パスを絶対パスに置換できます -->
      <a th:href="@{/hoges/add}" class="btn btn-primary">追加</a>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- ソートの昇順降順の切り替えは switch で分岐しています. -->
            <!-- page.sort.getOrderFor('プロパティ名').ascending で昇順であるか判定ができます. -->
            <th th:switch="${page.sort.getOrderFor('squadNumber').ascending}">
              <a th:case="true" th:href="@{/hoges(sort='squadNumber,desc')}">背番号 <i class="fa fa-caret-down"></i></a>
              <a th:case="*"    th:href="@{/hoges(sort='squadNumber,asc')}">背番号 <i class="fa fa-caret-up"></i></a>
            </th>
            <th>名前</th>
            <th>国籍</th>
            <th>ポジション</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="hoge : ${page}">
            <td th:text="${hoge.squadNumber}">10</td>
            <td th:text="${hoge.name}">山田太郎</td>
            <td th:text="${hoge.nationality.name}">トリニダード・トバゴ</td>
            <td th:text="${hoge.positionCodeName}">ゴールキーパー</td>
            <td>
              <form th:action="@{/hoges/{hogeId}/destroy(hogeId=${hoge.hogeId})}" method="post">
                <a class="btn btn-primary" th:href="@{/hoges/{hogeId}/edit(hogeId=${hoge.hogeId})}">編集</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#destroyConfirmModal" th:attr="data-id=${hoge.hogeId}">削除</a>
                <button type="submit" th:id="${'destroySubmit_' + hoge.hogeId}" class="hidden-xs-up">削除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->

<!-- 以下の要素を使ってページングの分岐を行っています.
    <ul>
      <li>Page が持つ値</li>
      <li>全ページ数<span th:text="${page.totalPages}">?</span></li>
      <li>全データ数<span th:text="${page.totalElements}">?</span></li>
      <li>Slice (Page の親) が持つ値</li>
      <li>1ページあたりのデータ数:<span th:text="${page.size}">?</span></li>
      <li>現在のページ:<span th:text="${page.number}">?</span></li>
      <li>最初のページか？<span th:text="${page.isFirst()}">?</span></li>
      <li>最後のページか？<span th:text="${page.isLast()}">?</span></li>
      <li>前ページはあるか？<span th:text="${page.hasPrevious()}">?</span></li>
      <li>次ページはあるか？<span th:text="${page.hasNext()}">?</span></li>
    </ul>
 -->
    <nav>
      <ul class="pagination">
        <li class="page-item" th:classappend="${page.number + 0 <= 0}? 'disabled'">
          <a class="page-link" aria-label="Previous"
            th:href="@{/hoges(page=${page.number - 1},size=${page.size},sort=${param.sort})}"
            th:if="${page.number + 0 > 0}">
            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <span class="page-link" aria-hidden="true"
            th:if="${page.number + 0 <= 0}">
            <i class="fa fa-angle-left"></i>
          </span>
        </li>
        <li class="page-item" th:if="${page.number - 2 > 0}">
          <a class="page-link" th:href="@{/hoges(page=0,size=${page.size},sort=${param.sort})}">1</a>
        </li>
        <li class="page-item disabled" th:if="${page.number - 3 > 0}">
          <span class="page-link"><i class="fa fa-ellipsis-h"></i></span>
        </li>
        <li class="page-item" th:if="${page.number - 1 > 0}">
          <a class="page-link" th:href="@{/hoges(page=${page.number - 2},size=${page.size},sort=${param.sort})}" th:text="${page.number - 1}">3</a>
        </li>
        <li class="page-item" th:if="${page.number + 0 > 0}">
          <a class="page-link" th:href="@{/hoges(page=${page.number - 1},size=${page.size},sort=${param.sort})}" th:text="${page.number + 0}">4</a>
        </li>
        <li class="page-item active">
          <a class="page-link" th:href="@{/hoges(page=${page.number + 0},size=${page.size},sort=${param.sort})}" th:text="${page.number + 1}">5 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item" th:if="${page.number + 1 < page.totalPages}">
          <a class="page-link" th:href="@{/hoges(page=${page.number + 1},size=${page.size},sort=${param.sort})}" th:text="${page.number + 2}">6</a>
        </li>
        <li class="page-item" th:if="${page.number + 2 < page.totalPages}">
          <a class="page-link" th:href="@{/hoges(page=${page.number + 2},size=${page.size},sort=${param.sort})}" th:text="${page.number + 3}">7</a>
        </li>
        <li class="page-item disabled" th:if="${page.number + 4 < page.totalPages}">
          <span class="page-link"><i class="fa fa-ellipsis-h"></i></span>
        </li>
        <li class="page-item" th:if="${page.number + 3 < page.totalPages}">
          <a class="page-link" th:href="@{/hoges(page=${page.totalPages - 1},size=${page.size},sort=${param.sort})}" th:text="${page.totalPages}">10</a>
        </li>
        <li class="page-item" th:classappend="${page.number + 1 >= page.totalPages}? 'disabled'">
          <a class="page-link" aria-label="Next"
            th:href="@{/hoges(page=${page.number + 1},size=${page.size},sort=${param.sort})}"
            th:if="${page.number + 1 < page.totalPages}">
            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
          <span class="page-link" aria-hidden="true"
            th:if="${page.number + 1 >= page.totalPages}">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
      </ul>
    </nav>



  </div><!-- /.container -->

  <!-- 削除確認ダイアログ -->
  <div class="modal fade" id="destroyConfirmModal" tabindex="-1" role="dialog" aria-labelledby="destroyConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>削除します。よろしいですか？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" id="destroySubmitTrigger">削除</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
  <script
    src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"
    th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}"></script>
  <script
    src="../../static/hoges.js"
    th:src="@{/js/hoges.js}"></script>
</body>
</html>