<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Spring Boot Template</title>
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
    th:href="@{/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css}">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}">
  <link rel="stylesheet"
    href="../static/css/style.css"
    th:href="@{/css/style.css}">
</head>
<body>
  <!-- ヘッダー部 -->
  <nav th:replace="shared/fragments::header"></nav>
  <!-- メインコンテント部 -->
  <div layout:fragment="content" class="container">
    <p>この内容は表示されません。各コンテンツで定義した内容に置き換わります。</p>
  </div>
  <!-- ログアウト確認ダイアログ -->
  <div th:replace="shared/fragments::confirm-modal(id='logoutConfirmModal', label='ログアウト')"></div>
  <!-- スクリプト部 -->
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
  <script
    src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"
    th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}"></script>
  <script
    src="../../static/common.js"
    th:src="@{/js/common.js}"></script>
  <div layout:fragment="additionalScripts" th:remove="tag"></div>
</body>
</html>